{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Sourish Joshi</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/img1.jpg' %}" >
					<hr>
					<h4>Hi I'm Sourish</h4>
					<p>I love coding, learning new things and collaborating</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Something about me</h4>
					<hr>
					<p>I am a student,originally from Pune,Maharashtra ,currently doing my B.Tech at Indian Institute of Information Technology,Dharwad</p>

					<p>I love to code and I like learning new things in various walks of life.My current interests are WebDev,Operating Systems,Cloud,DevOps,DSA and many other things</p>

					<p>I would like to collab on some projects and learn a lot of things on the way</p>

					<ul class="social-links">
						
						<li><a href="https://www.linkedin.com/in/sourish-joshi-33b141225/"><img class="social" src="{% static 'images/linkedin.png' %}" width="30" height="30"></a>>
						<a href="https://github.com/SourishJoshi8"><img class="social" src="{% static 'images/github.png' %}" width="50" height="50"></a>
						<a href="https://leetcode.com/SourishJoshi/"><img class="social" src="{% static 'images/leetcode.png' %}" width="50" height="50"></a></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Past Projects </h5>
					<hr>
					<p>Contributed in OpenSource as a contributor in Social Summer of Code,Hacktoberfest</p>
					<p>Currently a member at Club Velocity,IIIT Dharwad</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Basic Programming Languages like C,C++,JAVA</p>
					<p>Version Control System with git</p>
					<p>Some Frontend Stuff like HTML,CSS,JavaScript</p>
					<p>Knowledge of UNIX based Operating Systems with BASH</p>
					<p>Some Applicative Skills when it comes to using Data Structures and Algorithms</p>
				</div>
        </div>
		</div>
		<div class="row">
			<div class="col-md-6">
			<div class="card card-body h-100">
				<h5>To Contact me </h5>
				<hr>
				<p>+91 7666872821</p>
				<p>sourishjoshi81102@gmail.com</p>
				<p> 21bds065@iiitdwd.ac.in</p>
				</div>
			</div>
		</div>
		


</body>
</html>